main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  flex-direction: column;
  padding: 24px;
  margin: 8px;
}

img {
  image-rendering: pixelated;
  /* filter: grayscale(1);
  background: rgba(0, 0, 0, 0.5); */
}

.silueta {
  -webkit-filter: grayscale(100%) brightness(0); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) brightness(0);
  opacity: 1;
}